In [1]:
#importing pandas
import pandas as pd

In [2]:
# Create a DataFrame with three columns and three rows
data={'S no':[1,2,3],
      'Name':['Guna','Krishna','Agu'],
      'Grade':[4.0,3.4,3.7]}

In [3]:
df=pd.DataFrame(data)

In [4]:
# head of the DataFrame
df.head()

   S no     Name  Grade
0     1     Guna    4.0
1     2  Krishna    3.4
2     3      Agu    3.7

In [5]:
# Index of the DataFrame
df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
# The first column of the DataFrame
df['S no']

0    1
1    2
2    3
Name: S no, dtype: int64

In [7]:
# The first row of the DataFrame
df.loc[0]

S no        1
Name     Guna
Grade     4.0
Name: 0, dtype: object

In [8]:
# Write the DataFrame to a new CSV file
df.to_csv('grades.csv', index=False)

**Question**: Why are dynamic, interactive data visualizations useful when communicating data? \
**Answer**:Dynamic and interactive data visualizations are helpful for expressing data because they give the audience a stimulating and inquisitive experience, according to Murray's (2017) Chapter 1. Conventional static representations might not enable users to engage with and explore various elements of the information or fully capture the intricacy of the data.

Users can work with the data, focus on certain details, and see changes in real time with dynamic visualizations. By enabling the audience to personalize their investigation, this interactivity improves knowledge and fosters a deeper understanding of the data being given. Because users can concentrate on the details that are most pertinent to their interests or inquiries, interactive visualizations are especially useful when working with huge datasets or intricate relationships.